<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>CYM STUDIO by Thomas Chen</title>
    <meta name= "description"
    content= "Front-end developer and designer">
    <meta name= "keyword"
    content= "CYM studio, Thomas Chen, Front-end, design">
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.ico' %>
  </head>
  <body>
    <%= yield %>
    <%= partial "layouts/footer" %>
  </body>
</html>
